<% if @user.id != 1 || @user.centre_id != 4068 -%> 
  <div id="select_participant" >
    <tr><td colspan="6"><br/><hr><br/></td></tr>
    <tr><td colspan="6" align="center"><img id="list_loader" src="/images/loaderbig.gif" alt="loader" width="48px" height="48px" style="display: none;" /></td></tr>
    <tr><td>
       <div id="div_teacher">
          Click here see/hide Teachers lists...</div>
        <div id="participant_category_div_teacher" style="display:none;">
          <table class="participant_list">
            <% for participant in @participants_teachers -%>
              <tr class= "<%= cycle('list_line_odd', 'list_line_even') %>"  ><td>
                  <li><td>
                    <%= check_box_tag "registration[participant_ids][]", participant.id, @registration.participants.include?(participant), :onclick => 
                    "update_count(this,registration_bk_teachers)" %></td>
                  <td><%= h(participant.first_name) %> <%= h(participant.middle_name) %> <%= h(participant.last_name) %></td>
                  <td><b>Age:</b> <%=  h(participant.age)%> </td>
                  </li>
              </td></tr>
            <%end %>
            <tr><td></td><td></td><td>Click Here to Hide List</td></tr>
          </table>
        </div>
      </div>
  </td></tr>
  <tr><td colspan="6"><br/><hr><br/></td></tr>
  <tr><td>
      <div id="div_bk_bro">
       Click here see/hide BK Brothers lists...</div>
       <div id="participant_category_div_bk_bro" style="display:none;">
                 <%= render  :partial => "participant_category" , :object => @participants_bk_bro,
           :locals => { :registration_count => 'registration_bk_bro' }
         %>
       </div>
   </td></tr>
   <tr><td colspan="6"><br/><hr><br/></td></tr>
   <tr><td>
       <div id="div_bk_sis">
       Click here see/hide BK Sisters lists...</div>
       <div id="participant_category_div_bk_sis" style="display:none;">
         <%= render  :partial => "participant_category" , :object => @participants_bk_sis,
           :locals => { :registration_count => 'registration_bk_sis' }
         %>
       </div>
   </td></tr>
   <tr><td colspan="6"><br/><hr><br/></td></tr>
   <tr><td>
       <div id="div_nbk_bro">
       Click here see/hide Non-BK Brothers lists...</div>
       <div id="participant_category_div_nbk_bro" style="display:none;">
         <%= render  :partial => "participant_category" , :object => @participants_nbk_bro,
           :locals => { :registration_count => 'registration_nbk_bro' }
         %>
       </div>
   </td></tr>
   <tr><td colspan="6"><br/><hr><br/></td></tr>
   <tr><td>
       <div id="div_nbk_sis">
       Click here see/hide Non-BK Sisters lists...</div>
       <div id="participant_category_div_nbk_sis" style="display:none;">
         <%= render  :partial => "participant_category" , :object => @participants_nbk_sis,
           :locals => { :registration_count => 'registration_nbk_sis' }
         %>
       </div>
    </td></tr>
  </div>
<% end %>
