<% content_for :title, "Registrations" %>

<% content_for :nav, "participants" %>

<% if @registrations -%>
    <div class="header">
        <%= page_entries_info @registrations, :entry => 'registration' %>
    </div>
    <%= will_paginate @registrations %>

    <table class="highlight" border="0" width="95%" cellspacing="0" cellpadding="2" align="center" style="margin: 0 auto 10px;">
    	<% temp = "" -%>
    	<% for registration in @registrations -%>
    		<%	if temp != registration.event.event_name -%>
    			<% if temp != "" -%>
    				<tr><td colspan="10">&nbsp;</td></tr>
    			<% end -%>
    				<tr><td colspan="10">
    					<p class="etitle"><%= h(registration.event.event_name) %></p>
    				</td></tr>
    				<tr style="height: 25px;">
                        <td>&nbsp;</td>
    					<td width="100px"><strong>Reg. No.</strong></td>
    					<td width="150px"><strong>Registered Date</strong></td>
    					<td width="250px"><strong>Guide Name</strong></td>
    					<td width="200px"><strong>Arrival Date</strong></td>
    					<td width="125px"><strong>Mode of Travel</strong></td>
    					<td width="120px"><strong>Total Participants</strong></td>
						<td width="50px" align="center"><strong>Print &darr;</strong></td>
    					<td colspan="2">&nbsp;</td>
    				</tr>
    		<% end -%>
    		<tr class="record">
                <td width="50px" align="center">
                    <% if registration.status == 1 %>
                        <%= image_tag "accepted.png", :border => 0, :title => 'Accepted' %>
                    <%elsif registration.status == 2 %>
                        <%= image_tag "rejected.png", :border => 0, :title => 'Rejected' %>
                    <% else %>
                        <%= image_tag "waiting.png", :border => 0, :title => 'Waiting for Confirmation' %>
                    <% end %>
                </td>
    			<td><%= h(registration.id)%></td>
    			<td><%= h(Time.at(registration.created_on).strftime('%d %B %Y'))%></td>
    			<td><%= h(registration.guide_name)%></td>
    			<td><%= h(registration.arrival_date.strftime('%d %B %Y')) %></td>
    			<td>
    				<% @trains.each do |item| -%>
    					<% if item.id == registration.arrival_by -%>
    						<%= h(item.trnno) %>
    					<% end -%>
    				<% end -%>
    			</td>
    			<td align="center"><%= registration.bkteachers + registration.bkbro + registration.bksis + registration.nbkbro + registration.nbksis + registration.children %></td>
                <td width="50px" align="center"><%= link_to image_tag("printer.png", :border => 0, :title => 'Print Registration Form'), {:action => "download", :id => registration} %></td>
    			<td width="50px" align="center"><%= link_to image_tag("view.png", :border => 0, :title => 'View Registration Details'), {:action => 'show', :id => registration} %></td>
    			<td width="50px" align="center"><%= link_to image_tag("delete.png", :border => 0, :title => 'Delete Registration'), {:action => 'delete', :id => registration}, :confirm => 'Are you sure, you want to delete this registration?' %></td>
    		</tr>
    		<% temp = registration.event.event_name %>
    	<% end -%>
    </table>
<% else %>
    <center><br/><br/><h2>No registrations listed / active</h2></center>
<% end %>
