	<tr>
		<td>Centre Name <span class="req">*</span></td>
		<td>
			<% if @centre -%>
				<%= @centre.name.upcase %>
				<%= hidden_field 'centre', 'name' %></td>
			<% else -%>
				<%= text_field 'centre', 'name', :size => 30, :maxlength => 64, :class => "text" %></td>
			<% end -%>
		<td>Centre Incharge <span class="req">*</span></td>
		<td><%= text_field 'centre', 'incharge', :size => 30, :maxlength => 64, :class => "text" %></td>
	</tr>
	<tr>
		<td>Address Line 1 <span class="req">*</span></td>
		<td><%= text_field 'address', 'addr1', :size => 30, :maxlength => 255, :class => "text" %></td>
		<td>Address Line 2</td>
		<td><%= text_field 'address', 'addr2', :size => 30, :maxlength => 255, :class => "text"  %></td>
	</tr>
	<tr>
		<td>City <span class="req">*</span></td>
		<td><%= text_field 'address', 'city', :size => 30, :maxlength => 64, :class => "text" %></td>
		<td>State <span class="req">*</span></td>
		<td><%= text_field 'address', 'state', :size => 30, :maxlength => 64, :class => "text" %></td>
	</tr>
	<tr>
		<td>Pin code <span class="req">*</span></td>
		<td><%= text_field 'address', 'pincode', :size => 30, :maxlength => 6, :class => "text" %></td>
		<td>Country <span class="req">*</span></td>
		<td><%= text_field 'address', 'country', :size => 30, :maxlength => 32, :class => "text" %></td>
	</tr>
	<tr>
		<td>Telephone Number</td>
		<td><%= text_field 'contact', 'phone', :size => 30, :class => "text" %></td>
		<td>Mobile Number</td>
		<td><%= text_field 'contact', 'mobile', :size => 30, :class => "text" %></td>
	</tr>
	<tr>
		<td>Office Number</td>
		<td><%= text_field 'contact', 'office_no', :size => 30, :class => "text" %></td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>Resident Fax</td>
		<td><%= text_field 'contact', 'fax', :size => 30, :class => "text"  %></td>
		<td>Office Fax</td>
		<td><%= text_field 'contact', 'office_fax', :size => 30, :class => "text"  %></td>
	</tr>
	<tr>
		<td>Email 1</td>
		<td><%= text_field 'contact', 'email1', :size => 30, :class => "text"  %></td>
		<td>Email 2</td>
		<td><%= text_field 'contact', 'email2', :size => 30, :class => "text"  %></td>
	</tr>
	<tr>
		<td colspan="4">&nbsp;</td>
	</tr>

