<% content_for :title, "Reset Password" %>

<div class="fpasswrd">
    <h1 class="logo"><a href="http://www.bkinfo.in" target="_blank">Brahma Kumaris</a></h1>
    <h2>Reset Password</h2><br/>
    <p class="notify">Please enter your new password twice and then you can login to your account.</p>
    <center>
        <% form_tag '/users/reset_password' do %>
            <%= hidden_field_tag :token, "#{@token}" %>
            <table align="center" width="100%" cellspacing="5" cellpadding="2" style="margin: 0 auto;">
                <tr><td colspan="2">
                    <% if flash[:notice] -%>
                        <div id="notice" align="center"><%= flash[:notice] %></div>
                    <% end -%>
                </td></tr>
                <tr><td colspan="2">&nbsp;</td></tr>
                <tr>
                    <td align="right" width="45%"><%= label_tag :password, "Enter new password" %></td>
                    <td align="left"><%= password_field_tag :password, '', :size => 30, :class => 'text' %></td>
                </tr>
                <tr>
                    <td align="right" width="45%"><%= label_tag :password_confirmation, "Re-Enter new password" %></td>
                    <td align="left"><%= password_field_tag :password_confirmation, '', :size => 30, :class => 'text' %></td>
                </tr>
                <tr><td colspan="2">&nbsp;<br/></td></tr>
                <tr><td colspan="2" align="center"><%= submit_tag "Submit", :class => 'button' %></td></tr>
            </table>
        <% end -%>
    </center>
</div>
