<% content_for :title, "Change Password" %>

<% content_for :nav, "info" %>

<div class="header">Change Password</div>

<% form_tag '/users/update_password' do -%>

    <table border="0" width="85%" cellspacing="4" cellpadding="2" align="center" style="margin: 0 auto 10px;">
        <tr><td colspan="4" align="right"><span class="req">*</span> Indicates Required Field</td></tr>

        <tr>
            <td align="right">
                <span class="req">*</span> 
                <%= label :user, :password %> :
            </td>
            <td><%= password_field :user, :password, :size => 20, :class => 'text' %></td>
        </tr>
        <tr><td colspan="2">&nbsp;</td></tr>
        <tr>
            <td align="right">
                <span class="req">*</span>
                <%= label :user, :password_confirmation, "Confirm Password" %> :
            </td>
            <td><%= password_field :user, :password_confirmation, :size => 20, :class => 'text' %></td>
        </tr>

        <tr><td colspan="4">&nbsp;</td></tr>

        <tr><td colspan="4" align="center">
            <%= submit_tag "Update", :class => 'button' %>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <%= link_to "Cancel", {:action => 'show'}, :class => 'button' %>
        </td></tr>

    </table>

<% end -%>
